VITE_APP_NAME=river_bar
VITE_APP_URL=https://chatter.idareyoutodo.workers.dev
VITE_APP_API_PREFIX=/riverbar
VITE_APP_VERSION=demo
VITE_APP_TYPE=portfolio
VITE_APP_DISABLE_SIGNALR=true
VITE_GOOGLE_MAPS_API_KEY=
VITE_CAMERA_AUTH_USER=
VITE_CAMERA_AUTH_PASSWORD=
